html {
    box-sizing: border-box;
    background-color: #F5F5F5;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
#container{
    max-width: 1200px;
    margin: 0 auto;
/*    background: #ececec;*/
}
header{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.logo{
    width: 100px;
    display: flex;
}
.img1{
    width: auto;
}
.img2{
    width: auto;
    margin: 5px 0 0 10px;
}
.nav{
    margin: 5px 0 0 0;
}
.nav ul{
    margin:0;
    padding: 0;
    list-style-type: none;
    display: flex;
}
.nav ul li{
    font-size: 14px;

}
.nav ul li a{
    font-size: 14px;
    color: rgb(54, 106, 151);
    padding: 12px 13px;
    text-decoration: none;
    
}
.action-button{
    width: 100px;
}
.hero-section{
    width: 100%;
    display: grid;
    padding: 0 20px;
    grid-template-columns: 600px 500px;
}
.left-section{
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-text p{
    font-size: 54px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 0 0;
}
.left-section ul{
    margin:0;
    padding: 0;
    list-style-type: none;
    display: flex;
}
.left-section ul li{
    padding: 6px 9px;
}
.question{
    border: 1px solid #000000;
    padding: 8px 0;
    width: 200px;
}

.qubg{
    background: #000000;
    padding: 11px 12px;
    color: #ffffff;
    font-size: 14px;
}
.talkButton{
    border: none;
    padding: 0 0 0 9px;
}
.talkButton button{
    border: none;
}
.slider-band{
    height: 60px;
    background: #000000;
    max-width: 400px;
}
.tag-list {
    margin: 0;
    padding:0;
    list-style-type: none;
}
.tag-list li{
    font-size: 1.3rem;
    border-radius: 0.5rem;
    background: #979797;
    box-shadow: 0 0.5rem 1rem -0.25rem;

}
.slider_inner {
    display: flex;
    gap: 1rem;
    padding-block: 1rem;
    flex-wrap: wrap;
}
.right-section{
    margin:0;
}
.award{
    position: relative;
    counter-reset: my-sec-counter;
}
.head p{
    position: relative;
    font-size: 25px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.head p::before{
    content: "" ;
    background: url(../images/logo.png) left top no-repeat;
    position: absolute;
    width: 36px;
    height: 36px;
    top: -36px;
   left: 580px;
}
.head span{
    text-align: center;
    display: block;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: normal;
}
.award-list{
    display: grid;
    position: relative;
    grid-template-columns: 880px 300px;
    padding: 20px 20px;
    margin: 0 0 15px 0;
    border: 1px solid #000000;
}
.award-list::before {
    /* Increment "my-sec-counter" by 1 */
    counter-increment: my-sec-counter;
    content: "A" counter(my-sec-counter) ;
    background-color: #a75757;
    border-radius: 33px;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 5px;
    top: 16px;
    font-size: 20px;
    padding: 8px 0 0 0;
    text-align: center;
  }
  .left-info{
    grid-column: 1;
    padding: 0 0 0 36px;
  }
  .left-info h2{
    margin:0;
    padding: 0;
  }
  .left-info p{
    margin:0;
    padding: 0;
  }
  .right-info{
    align-self: top;
    grid-column: 2;
    justify-self: end;
    padding: 5px 10px;
  }
.award-description{
 /*   grid-column: 1;*/
    font-size: 14px;
}
.award-year{
 
    font-size: 12px;
}